
<html xmlns:th="http://www.thymeleaf.org">
 <head><title>Web Programming Test</title>
 <link rel="stylesheet" type="text/css" href="/stylesheet.css">
 <style type="text/css">
   .menu, td {font-size:9pt;}
    a.list {text-decoration:none;color:black;font-size:10pt;}
 </style>
 <!-- include libraries(jQuery, bootstrap) -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
 <body>
 <table th:fragment="topmenu">
   <tr>
     <td width="19%" rowspan="4" valign="bottom" bgcolor="#000000">
       <a href="/"><img src="/Images/img/jsl_logo1.png" width="150" height="80" border="0"></a>
       <font style="font-size:9pt;color:white;font-family:돋움"><br><b>Total 136,489
       <font color="yellow"></font>
       | Now 178
       <font color="yellow"></font>
       </b></font>
     </td>
     <td width="10%" height="25" onmouseover="style.backgroundColor='#2772D3'" onmouseout="style.backgroundColor=''">
     <p th:if="${session.user==null}" align="center"><font color="white" size="2"><b><a href="/User/user_login" class="white">로그인</A></b></font></p>
     <p th:if="${session.user!=null}" align="center"><font color="white" size="2"><b><a href="/User/user_logout" class="white">로그아웃</A></b></font></p>
     </td>
     <td  width="10%" onmouseover="style.backgroundColor='#2772D3'" onmouseout="style.backgroundColor=''">
     <p th:if="${session.user==null}" align="center"><font color="white" size="2"><b><a href="/User/user_insert" class="white">회원가입</a></b></font></p>
     <p th:if="${session.user!=null}" align="center"><font color="white" size="2"><b><a href="/User/user_mypage" class="white">MyPage</a></b></font></p>
     </td>
     <td  width="10%" onmouseover="style.backgroundColor='#2772D3'" onmouseout="style.backgroundColor=''">
     <p align="center"><font color="white" size="2"><b><a href="/Notice/notice_list" class="white">공지사항</a></b></font></p>
     </td>
     <td  width="10%" onmouseover="style.backgroundColor='#2772D3'" onmouseout="style.backgroundColor=''">
     <p align="center"><font color="white" size="2"><b><a href="/Board/board_list" class="white">자유게시판</a></b></font></p>
     </td>
     <td  width="10%" onmouseover="style.backgroundColor='#2772D3'" onmouseout="style.backgroundColor=''">
     <p align="center"><font color="white" size="2"><b><a href="/BoardPhoto/board_list" class="white">포토게시판</a></b></font></p>
     </td>
     <td  width="10%" onmouseover="style.backgroundColor='#2772D3'" onmouseout="style.backgroundColor=''">
     <p align="center"><font color="white" size="2"><b><a href="/Pds/pds_list" class="white">자료실</a></b></font></p>
     </td>
     <td  width="10%" onmouseover="style.backgroundColor='#2772D3'" onmouseout="style.backgroundColor=''">
     <p align="center"><font color="white" size="2"><b><a href="/Gallery/gallery_list" class="white">갤러리</a></b></font></p>
     </td>
     <td  width="10%" onmouseover="style.backgroundColor='#2772D3'" onmouseout="style.backgroundColor=''">
     <p align="center"><font color="white" size="2"><b><a href="/Admin/admin_login" class="white">관리자</a></b></font></p>
     </td>
   </tr>                   
   <tr>
     <td colspan="8">
     <p><img src="/Images/img/bar-01.gif" width="100%" height="1" border="0"></p>
     </td>
   </tr>
   <tr>
     <td colspan="8"><p><img src="/Images/img/bar-01.gif" width="100%" height="1" border="0"></p></td>
   </tr>
   <tr>
     <td><p><b><span style="font-size:15pt;">&nbsp;Search</span></b></p></td>
     <td colspan="5">
     <form action="" method="post">
     <p>&nbsp;
       <select name="genre" size="1">
         <option value="종합">공지사항</option>
         <option value="종합">게시판</option>
         <option value="종합">방명록</option>
         <option value="종합">자료실</option>
       </select>
       <select name="item" size="1">
         <option value="name">작성자</option>
         <option value="subject">제목</option>
         <option value="contents">제목</option>
       </select>
         <input type="text" name="keyword" size="12">
         <input type="image" src="/Images/img/search2.gif">
     </p>
     </form>
     </td>
   </tr>
 </table>
 </body>
 </html>
