<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mnu.sample.mapper.BoardMapper">
	<!-- 1. 전체 글수 카운트 -->
	<select id="boardCount" resultType="int">
		select count(*) from tbl_board
	</select>	
	
	<!-- 2. 검색조건에 해당하는 글 수 MYSQL(MariaDB) -->
	<!--  
	<select id="boardCountSearch" resultType="int">
		select count(*) from tbl_board where 
		<choose>
			<when test="search=='name'">
				name like concat('%',#{key},'%')
			</when>
			<when test="search=='subject'">
				subject like concat('%',#{key},'%')
			</when>
			<when test="search=='contents'">
				contents like concat('%',#{key},'%')
			</when>
		</choose>
	</select>	
		-->
		
	<!-- 2. 검색조건에 해당하는 글 수 oracleDB get, post -->
	<!--  
	<select id="boardCountSearch" resultType="int">
		select count(*) from tbl_board 
		<choose>
			<when test="search=='name'">
				where name like '%'||#{key}||'%'
			</when>
			<when test="search=='subject'">
				where subject like '%'||#{key}||'%'
			</when>
			<when test="search=='contents'">
				where contents like '%'||#{key}||'%'
			</when>
		</choose>
	</select>	
	-->
	
	<!-- 2. 검색조건에 해당하는 글 수 oracleDB -->
	<select id="boardCountSearch" resultType="int">
		select count(*) from tbl_board where
		<choose>
			<when test="search=='name'">
				name like '%'||#{key}||'%'
			</when>
			<when test="search=='subject'">
				subject like '%'||#{key}||'%'
			</when>
			<when test="search=='contents'">
				contents like '%'||#{key}||'%'
			</when>
		</choose>
	</select>

	<!-- 3. 전체목록 리스트 -->
	<select id="boardList" resultType="com.mnu.sample.domain.BoardDTO">
		select * from tbl_board order by idx desc
	</select>
	
	<!-- 3-1. 전체목록 리스트(페이지 인덱싱) -->
	<select id="boardListPage" resultType="com.mnu.sample.domain.BoardDTO">
		select * from tbl_board order by idx desc 
			offset #{offset} rows fetch next #{maxlist} rows only
	</select>
	
	<!-- 4. 검색조건에 맞는 글 리스트 get, post -->
	<!-- 
	<select id="boardListSearch" resultType="com.mnu.sample.domain.BoardDTO">
		select count(*) from tbl_board 
		<choose>
			<when test="search==name">
				where name like '%'||#{key}||'%'
			</when>
			<when test="search==subject">
				where subject like '%'||#{key}||'%'
			</when>
			<when test="search==contents">
				where contents like '%'||#{key}||'%'
			</when>
		</choose>
		order by idx desc
	</select>	
	 -->
	 
	<!-- 4. 검색조건에 맞는 글 리스트 -->
	<select id="boardListSearch" resultType="com.mnu.sample.domain.BoardDTO">
		select * from tbl_board where
		<choose>
			<when test="search=='name'">
				name like '%'||#{key}||'%'
			</when>
			<when test="search=='subject'">
				subject like '%'||#{key}||'%'
			</when>
			<when test="search=='contents'">
				contents like '%'||#{key}||'%'
			</when>
		</choose>
		order by idx desc
	</select>
		
	<!-- 4-1. 검색조건에 맞는 글 리스트(페이지 인덱싱) -->
	<select id="boardListSearchPage" resultType="com.mnu.sample.domain.BoardDTO">
			select * from tbl_board where 
			<choose>
				<when test="search=='name'">
					name like '%'||#{key}||'%'
				</when>
				<when test="search=='subject'">
					subject like '%'||#{key}||'%'
				</when>
				<when test="search=='contents'">
					contents like '%'||#{key}||'%'
				</when>
			</choose>
			order by idx desc offset #{offset} rows fetch next #{maxlist} rows only
	</select>	
	
	<!-- 5. 글 등록 -->
	<insert id="boardWrite">
		insert into tbl_board(idx, name, email, subject, contents, pass)
		values(tbl_board_seq_idx.nextval, #{name}, #{email}, #{subject}, #{contents}, #{pass})
	</insert>

	<!-- 6. 특정 글 검색(view, modify)-->
	<update id="boardHits">
		update tbl_board set readcnt = readcnt + 1 where idx = #{idx}
	</update>
	<select id="boardViewModify" resultType="com.mnu.sample.domain.BoardDTO">
		select * from tbl_board where idx = #{idx}
	</select>
	<!-- 7. 수정처리-->
	
	<!--  8. 삭제처리 -->
</mapper>
