<!-- 메뉴 include -->


<HTML>
<HEAD>
<TITLE>로그온</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link rel="stylesheet" type="text/css" href="/stylesheet.css">
   <style type="text/css">
     td.title { padding:4px; background-color:#e3e9ff }
     td.content { padding:10px; line-height:1.6em; text-align:justify; }
     a.list { text-decoration:none;color:black;font-size:10pt; }
   </style>
<script src="https://jquery.com"></script>

<script type="text/javascript">
$(document).ready(function() {
    
    // 1. 아바타 변경 버튼 클릭 시 기본 아바타 선택 레이어 토글
    $("#btn_avatar_toggle").click(function() {
        $("#avatar_select_layer").toggle();
    });

    // 2. 기본형 아바타(6개 중 하나) 클릭 시 Ajax로 즉시 반영
    $(".basic-avatar").click(function() {
        var selectedAvatarSrc = $(this).attr("src");
        var avatarFileName = $(this).data("filename"); // 예: avatar1.gif

        $.ajax({
            url: "/User/update_avatar_ajax", // JSP 혹은 서블릿 처리 주소
            type: "POST",
            data: { avatarType: "basic", fileName: avatarFileName },
            dataType: "json",
            success: function(response) {
                // 성공 시 현재 아바타 이미지 교체 및 레이어 닫기
                $("#current_avatar").attr("src", selectedAvatarSrc);
                $("#avatar_select_layer").hide();
                alert("기본 아바타로 변경되었습니다.");
            },
            error: function(xhr, status, error) {
                // 실무 연동 전 테스트용 프론트 반영 코드
                $("#current_avatar").attr("src", selectedAvatarSrc);
                $("#avatar_select_layer").hide();
                alert("[테스트 데이터] 아바타가 변경되었습니다.");
            }
        });
    });

    // 3. 자신만의 아바타 파일 선택창 열기 및 업로드 (Ajax)
    $("#btn_avatar_upload").click(function() {
        $("#avatar_file_input").click();
    });

    $("#avatar_file_input").change(function() {
        if($(this).val() == "") return;

        var formData = new FormData();
        formData.append("avatarFile", $("#avatar_file_input")[0].files[0]);

        $.ajax({
            url: "/User/upload_avatar_ajax", // 파일 업로드 처리 주소
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function(response) {
                // 서버에서 리턴한 새 이미지 경로로 교체
                if(response.success) {
                    $("#current_avatar").attr("src", response.newAvatarUrl);
                    alert("나만의 아바타로 변경되었습니다.");
                } else {
                    alert("업로드 실패: " + response.message);
                }
            },
            error: function() {
                // 실무 연동 전 가상 동작 테스트
                alert("[테스트 데이터] 이미지 업로드 시뮬레이션 성공!");
                $("#avatar_select_layer").hide();
            }
        });
    });

    // 4. 하단 비밀번호 변경 버튼 클릭 시 입력 폼 토글
    $("#btn_pwd_toggle").click(function() {
        $("#password_change_layer").toggle();
    });

    // 5. 비밀번호 변경 Ajax 제출
    $("#btn_submit_pwd").click(function() {
        var currentPwd = $("#current_passwd").val();
        var newPwd = $("#new_passwd").val();
        var confirmPwd = $("#confirm_passwd").val();

        if(!currentPwd || !newPwd || !confirmPwd) {
            alert("모든 비밀번호 필드를 입력해주세요.");
            return;
        }
        if(newPwd !== confirmPwd) {
            alert("새 비밀번호와 비밀번호 확인이 일치하지 않습니다.");
            return;
        }

        $.ajax({
            url: "/User/change_password_ajax", // 비밀번호 변경 처리 주소
            type: "POST",
            data: {
                currentPasswd: currentPwd,
                newPasswd: newPwd
            },
            dataType: "json",
            success: function(response) {
                if(response.success) {
                    alert("비밀번호가 성공적으로 변경되었습니다.");
                    $("#password_change_layer").hide();
                    $("#current_passwd, #new_passwd, #confirm_passwd").val("");
                } else {
                    alert("변경 실패: " + response.message);
                }
            },
            error: function() {
                alert("[테스트 데이터] 비밀번호가 가상으로 변경되었습니다.");
                $("#password_change_layer").hide();
                $("#current_passwd, #new_passwd, #confirm_passwd").val("");
            }
        });
    });
});
</script>
</HEAD>
<body bgcolor="#FFFFFF" text="#000000" leftmargin=0 
  topmargin=0 onLoad='document.user.userid.focus();'>

<table border="0" width="800">
<tr>
  <td width="20%"  bgcolor="#ecf1ef" valign="top" style="padding-left:0;">
	<!--로그인 영역 삽입-->
	 
  </td>
  <td width="80%" valign="top">&nbsp;<br>    
<!-- 마이페이지 HTML 레이아웃 -->
<TABLE width="683" border="0" cellspacing="0" cellpadding="0" height="265"> 
  <TR> 
    <TD width=100>&nbsp;</TD> 
    <TD> 
      <table width="583" border="0" cellspacing="0" cellpadding="0" height="265"> 
        <tr> 
          <td height="298"> 
            <!-- 상단 타이틀 바 -->
            <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
              <tr> 
                <td width="9"><img src="/Images/img/h_b02.gif" width="9" height="21"></td> 
                <td bgcolor="7aaad5"> 
                  <div align="center"><font color="#FFFFFF"><b>마이페이지 (My Page)</b></font></div> 
                </td> 
                <td width="9"><img src="/Images/img/f_b03.gif" width="9" height="21"></td> 
              </tr> 
            </table> 
            
            <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
              <tr> 
                <td bgcolor="#7aaad5"> 
                  <table border="0" cellpadding="3" cellspacing="1" width="99%" height="321"> 
                    
                    <!-- 회원 정보 및 아바타 영역 -->
                    <tr bgcolor="#FFFFFF"> 
                      <td align=CENTER bgcolor="#eff4f8" height="140"> 
                        <table width="480" border="0" cellspacing="0" cellpadding="3"> 
                          <tr valign=top> 
                            <!-- 아바타 이미지 및 변경 버튼 -->
                            <td width="120" align="center" style="padding-right: 15px;">
                              <img id="current_avatar" src="/Images/Avatarimg/1.PNG" width="70" height="70" style="border: 1px solid #7aaad5; border-radius: 4px;"><br>
                              <input type="button" id="btn_avatar_toggle" value="아바타 변경" style="width:75px; height:18px; font-size:11px; margin-top:5px; background-color:#ffffff; color:#7aaad5; border:1px solid #7aaad5; cursor:pointer;">
                              
                              <!-- [숨김 필드] 파일 업로드용 input -->
                              <input type="file" id="avatar_file_input" style="display:none;" accept="image/*">
                            </td>
                            <!-- 회원 상세 정보 -->
                            <td width="360">
                              <table width="100%" border="0" cellspacing="0" cellpadding="2">
                                <tr>
                                  <td width="21"><img src="/Images/img/h_bl02.gif" width="18" height="16"></td> 
                                  <td width="70" nowrap><b>회원명</b></td> 
                                  <td>: 홍길동 님 (일반회원)</td> 
                                </tr>
                                <tr>
                                  <td><img src="/Images/img/h_bl02.gif" width="18" height="16"></td> 
                                  <td nowrap><b>아이디</b></td> 
                                  <td>: hong123</td> 
                                </tr>
                                <tr>
                                  <td><img src="/Images/img/h_bl02.gif" width="18" height="16"></td> 
                                  <td nowrap><b>이메일</b></td> 
                                  <td>: hong123@example.com</td> 
                                </tr>
                              </table>
                            </td>
                          </tr> 
                        </table> 

                        <!-- 아바타 선택 및 변경 레이어 팝업 (기본 숨김) -->
                        <div id="avatar_select_layer" style="display:none; width:460px; margin-top:10px; padding:10px; border:1px dashed #7aaad5; background-color:#ffffff; text-align:left;">
                          <div style="font-size:11px; font-weight:bold; color:#006F70; margin-bottom:5px;">기본형 아바타 선택 (클릭 시 바로 적용):</div>
                          <table border="0" cellspacing="5" cellpadding="0">
                            <tr>
                              <td><img src="/Images/Avatarimg/m1.PNG" data-filename="avatar1.gif" class="basic-avatar" width="40" height="40" style="border:1px solid #ccc; cursor:pointer;" title="타입 1"></td>
                              <td><img src="/Images/Avatarimg/m2.PNG" data-filename="avatar2.gif" class="basic-avatar" width="40" height="40" style="border:1px solid #ccc; cursor:pointer;" title="타입 2"></td>
                              <td><img src="/Images/Avatarimg/m3.PNG" data-filename="avatar3.gif" class="basic-avatar" width="40" height="40" style="border:1px solid #ccc; cursor:pointer;" title="타입 3"></td>
                              <td><img src="/Images/Avatarimg/m4.PNG" data-filename="avatar3.gif" class="basic-avatar" width="40" height="40" style="border:1px solid #ccc; cursor:pointer;" title="타입 3"></td>
                              <td><img src="/Images/Avatarimg/w1.PNG" data-filename="avatar4.gif" class="basic-avatar" width="40" height="40" style="border:1px solid #ccc; cursor:pointer;" title="타입 4"></td>
                              <td><img src="/Images/Avatarimg/w2.PNG" data-filename="avatar5.gif" class="basic-avatar" width="40" height="40" style="border:1px solid #ccc; cursor:pointer;" title="타입 5"></td>
                              <td><img src="/Images/Avatarimg/w3.PNG" data-filename="avatar6.gif" class="basic-avatar" width="40" height="40" style="border:1px solid #ccc; cursor:pointer;" title="타입 6"></td>
                              <td><img src="/Images/Avatarimg/w4.PNG" data-filename="avatar6.gif" class="basic-avatar" width="40" height="40" style="border:1px solid #ccc; cursor:pointer;" title="타입 6"></td>
                            </tr>
                          </table>
                          <div style="margin-top:8px; border-top:1px solid #eff4f8; padding-top:5px; text-align:right;">
                            <input type="button" id="btn_avatar_upload" value="내 컴퓨터에서 아바타 선택 변경하기" style="font-size:11px; height:20px; background-color:#ff7508; color:white; border:none; padding:0 5px; cursor:pointer;">
                          </div>
                        </div>

                      </td> 
                    </tr> 
                    
<!-- 나의 활동 정보 영역 (작성글 / 댓글수) -->
                    <tr bgcolor="#FFFFFF">
                      <td align="CENTER" bgcolor="#ffffff" height="50">
                        <table width="450" border="0" cellspacing="0" cellpadding="0" style="border:1px dashed #7aaad5; padding:10px 0;">
                          <tr>
                            <td width="50%" align="center" style="border-right:1px solid #eff4f8;">
                              <font color="#555555">내가 작성한 글</font><br>
                              <a href="/Board/my_posts" style="text-decoration:none;"><font color="#006F70" size="4"><b>12</b></font> <font color="#aaa" size="1">개</font></a>
                            </td>
                            <td width="50%" align="center">
                              <font color="#555555">내가 작성한 댓글</font><br>
                              <a href="/Board/my_comments" style="text-decoration:none;"><font color="#ff7508" size="4"><b>34</b></font> <font color="#aaa" size="1">개</font></a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    
                    <!-- 버튼 메뉴 영역 -->
                    <tr bgcolor="#FFFFFF"> 
                      <td bgcolor="#ffffff" align=CENTER height="50"> 
                        <table border="0" cellspacing="0" cellpadding="5">
                          <tr>
                            <td><input type="button" value="정보수정" onClick="location.href='/User/user_modify'" style="width:90px; height:30px; background-color:#7aaad5; color:white; border:none; font-weight:bold; cursor:pointer;"></td>
                            <td><input type="button" id="btn_pwd_toggle" value="비밀번호변경" style="width:100px; height:30px; background-color:#7aaad5; color:white; border:none; font-weight:bold; cursor:pointer;"></td>
                            <td><input type="button" value="로그아웃" onClick="location.href='/User/user_logout'" style="width:90px; height:30px; background-color:#a1afbc; color:white; border:none; font-weight:bold; cursor:pointer;"></td>
                          </tr>
                        </table>
                      </td> 
                    </tr> 

                    <!-- Ajax 비밀번호 변경 입력 폼 영역 -->
                    <tr bgcolor="#FFFFFF">
                      <td align="CENTER" bgcolor="#eff4f8">
                        <div id="password_change_layer" style="display:none; width:450px; padding:10px 0;">
                          <table width="380" border="0" cellspacing="0" cellpadding="3" align="center">
                            <tr>
                              <td width="120" align="right"><b>현재 비밀번호</b></td>
                              <td>: <input type="password" id="current_passwd" size="15" style="width:150px;"></td>
                            </tr>
                            <tr>
                              <td align="right"><b>새 비밀번호</b></td>
                              <td>: <input type="password" id="new_passwd" size="15" style="width:150px;"></td>
                            </tr>
                            <tr>
                              <td align="right"><b>새 비밀번호 확인</b></td>
                              <td>: <input type="password" id="confirm_passwd" size="15" style="width:150px;"></td>
                            </tr>
                            <tr>
                              <td colspan="2" align="center" style="padding-top:7px;">
                                <input type="button" id="btn_submit_pwd" value="비밀번호 변경하기" style="width:130px; height:24px; background-color:#006F70; color:white; border:none; font-weight:bold; cursor:pointer; font-size:12px;">
                              </td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                    
                  </table> <!-- 내부 테이블 끝 -->
                  
                  <!-- 하단 디자인 테두리 바 -->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
                    <tr> 
                      <td width="9"><img src="/Images/img/h_b04.gif" width="12" height="11"></td> 
                      <td bgcolor="7aaad5" width="612"> 
                        <div align="center"></div> 
                      </td> 
                      <td width="10"><img src="/Images/img/h_b05.gif" width="12" height="11"></td> 
                    </tr> 
                  </table> 
                  
                </td> 
              </tr> 
            </table> <!-- 중첩 테이블 끝 -->
            
          </td> 
        </tr> 
      </table> <!-- 본문 테이블 끝 -->
    </TD> 
  </TR> 
</TABLE> <!-- 전체 레이아웃 테이블 끝 -->
</td>
</tr>
</table>
</body>
</html>

